{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="page wrap">
  <p class="crumb"><a href="{% url 'tours:home' %}">Home</a> / About</p>
  <h1>About Us</h1>
  <p>It takes us immense pleasure to introduce Harmony Tours.</p>
  <p>We are helping you to create your memories. We serve you to enjoy your holidays with your family or friends and refresh yourself. We are serving various travel related services like Group Tours, Individual Tours, Off-beat Tours, Theme-based Tours, Adventure Tours, Educational and Industrial Tours for College and School Students, Air Tickets, VISA Service, Travel Insurance, MICE, Corporate Travel Solutions etc.</p>
  <p>Our concept is to provide variation in your holidays as well creating yours holidays a memorable experience in a professional way with emerging trends. We are passionate to introduce new products as well as present products with some creative concepts to our client. We do take efforts to make you satisfied with our travel related services and we can able to meet your expectations about your tour at our best.</p>
  <p>With small variation in creating tour itinerary as per tourists’ taste and preferences which connects tourists with memorable touring experience with us. Our mission is to introduce offbeat travel products with topping of theme based tourism to our client as well as working on routine travel products.</p>
  <p>Harmony Tours is serving successfully to its clients. Our experience in Travel Industry is more than 09 years with having professional qualification in travel industry with our Sister concerns located at various locations.</p>
  <p>This is just an initiation of new concepts! There’s much more to come………!</p>
</div>
{% endblock %}
